*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body
{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
    text-align-last: center;
}
.container .box
{
    position: relative;
    width: 320px;
    height: 420px;
    color: rgb(255, 255, 255);
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}
.container .box:hover
{
    transform: translateY(-20px);   
}
.container .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #c8ff00,#ff0058);
}
.container .box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00,#ff0058);
    filter: blur(30px);
}
.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after
{
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after
{
    background: linear-gradient(315deg, #4dff03,#14d0ff);
}
.container .box span
{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.container .box span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.container .box .content
{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}
.container .box .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.container .box .content p
{
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4em;
}
.container .box .content a
{
   display: inline-block;
   font-size: 1.1em;
   color: #111;
   background: rgb(236, 239, 240);
   padding: 10px;
   text-decoration: none;
   font-weight: 700;
}
.header{
    margin: 0;
    padding: 5px;
    padding-left: 30px;
    width: 50%;
    font-size: 1.3em;
}
.wel{
    color: red;
    text-shadow: 2px 0px 4px red;
}
.wel:hover{
    filter: blur(30px);
    transition: 2s;
}  
.come{
  color: #e2e2e2;
  text-shadow: 2px 2px 4px gray;
}
.mcontainer{
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    position: absolute;
    transition: .4s ease;
    display: block;
}
.mcontainer.active{
    height: 420px;
}

.menu{
    height:60px;
    width: 60px;
    display: block;
    position: relative;
    border-radius: 50px;
}
.icon{
    position: absolute;
    height: 3px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #161d2c;
}
.icon::before,.icon::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #161d2c;
    transition: .3s;
}
.icon::before{
    top: 12px;
}
.icon::after{
    bottom: 8px;
}
.menu.active .icon{
    width: 0;
}

.menu.active .icon::before{
    width: 40px;
    transform-origin: right;
    transform: translate(-25px,4px) rotate(45deg);
}
.menu.active .icon::after{
    width: 40px;
    transform-origin: right;
    transform: translate(-25px,-6px) rotate(-45deg);
}
.navitems{
    width: 100%;
    visibility: hidden;
}
.mcontainer.active .navitems{
    visibility: visible;
}
li{
    list-style: none;
}
li a{
    text-transform: uppercase;
    color: #000;
}
li a i{
    position: relative;
    display: block;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    transform: scale(0);
    z-index: 1;
}
li a i::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 8px;
    height: 50%;
    transform: translateY(-50%);
    background-color: #26d07c;
    border-radius: 0 8px 8px 0;
}
li:hover a i::after{
    width: 8px;
    transition: .3s;
}

.mcontainer.active .navitems li a i{
    transform: scale(1);
    transition: 0.4s ease;
    transition-delay: calc(0.08s * var(--i));
}
.mcontainer.active .navitems li:hover a i{
    transition: 0.4s ease;
    color: #26d07c;
}

li a span{
    position: absolute;
    color:  #000;
    right: 0;
    margin: 20px 50px;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 1;
}
.mcontainer.active .navitems li a span{
    transform: translateX(-15px);
    transition: 0.4s ease;
    transition-delay: calc(0.08s * var(--g));
}
.mcontainer.active .navitems li:hover a span{
    transform: translateX(-30px);
    transition: 0.2s ease;
    color: #26d07c;
}

.cont{
    display: flex;
    align-content: center;
    font-weight: 700;
    font-variant: small-caps;
    flex-wrap: wrap;
    text-align-last: center;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.btnn{
    margin: 10px;
    padding: 5px;
    position: relative;
    width: 110px;
    height: 50px;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    align-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 2px #525252, inset 0px 0px 4px #525252, inset 0px 0px 8px #525252;
    background-color: aliceblue;
    justify-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
.btnn:hover{
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0px 4px rgba(255, 255, 255, 0.9), 0px 0px 4px gray, 0px 0px 8px gray, 0px 0px 16px gray;
    background: linear-gradient(45deg, #ffbc00,#ff0058);
}
.hr{
	margin: 0;
	padding:0;
    height: 5px;
    background: linear-gradient(315deg, #4dff03,#14d0ff);
    border-radius: 100%;
    
}
.hr1{
	margin: 0;
	padding: 0;
    height: 5px;
    background: linear-gradient(45deg, #FF7700,#FF00A9);
    border-radius: 100%;
    
}
.hr:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 2px #f80404, 0px 0px 4px #ff0a0a, 0px 0px 8px #e91616, 0px 0px 16px #e91616;
}
.photo{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    width: 225px;
    height: 300px;
    filter: opacity(1);
}
.photo:hover{
    box-shadow: 0px 0px 2px #f80404, 0px 0px 4px #ff0a0a, 0px 0px 8px #e91616;
}
.wphoto{
    margin: 0;
    padding: 0;
    width: 97%;
    height: 180px;
    filter: opacity(1);
}
.wphoto:hover{
    box-shadow: 0px 0px 2px #f80404, 0px 0px 4px #ff0a0a, 0px 0px 8px #e91616;
}
a{
	color: #000;
	text-decoration: none;
}

.container .boxn
{
    position: relative;
    width: 400px;
    height: 200px;
    color: rgb(255, 255, 255);
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}
.container .boxn:hover
{
    transform: translateY(-20px);   
}
.container .boxn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00569B,#FFE300);
}
.container .boxn::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00FF53,#FFE300);
    filter: blur(30px);
}
.container .boxn:nth-child(2)::before,
.container .boxn:nth-child(2)::after
{
    background: linear-gradient(315deg, #00FF53,#FFE300);
}
.container .boxn:nth-child(3)::before,
.container .boxn:nth-child(3)::after
{
    background: linear-gradient(315deg, #00FF53,#FFE300);
}
.container .boxn span
{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.container .boxn span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.container .boxn .content
{
    position: relative;
    z-index: 10;
    padding: 2px 4px;
}
.container .boxn .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.container .boxn .content a
{
   display: inline-block;
   font-size: 1.1em;
   color: #111;
   background: rgb(236, 239, 240);
   padding: 10px;
   text-decoration: none;
   font-weight: 700;
}
.footer{
	margin: 0;
	padding: 20px;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align-last: center;
    background: linear-gradient(315deg, #FF608B,#FFA700);
}
.footer a{
	padding: 10px;
	display: inline-block;
   font-size: 1.1em;
   color: #111;
   text-decoration: none;
   font-weight: 700;
	}
section{
	margin: 5px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.1);
	position: relative;
    width: 98%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}
section::before{
	content: '';
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height: 200px;
    background: linear-gradient(315deg, #FF608B,#FFA700);
    border-radius: 50%;
    transform: translate( -50px, -50px);
	}
section::after{
	content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(315deg, #00FFC7,#00BDFF);
    border-radius: 50%;
    transform: translate( 50px, 50px);
	}
.tbox{
	margin: 5px;
	padding: 5px;
	z-index:1000;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-align: left;
    backdrop-filter: blur(25px);
	}
.container .tbox::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #FF608B,#FFA700);
    filter: blur(30px);
}
.container .tbox::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    background: linear-gradient(315deg, #FF608B,#FFA700);
}
.tbox .post
{
    position: absolute;
    display: inline-block;
    z-index: 10;
    top:0;
    left:0;
    padding: 20px 40px;
}
.tbox .about
{
    position: absolute;
    display: inline-block;
    z-index: 10;
    top:50px;
    left:300px;
    padding: 20px 40px;
}

 .tbox .about h2
{
    font-size: 3em;
    max-width: 100%;
    color: #000;
    margin-top: 0;
    margin-left: 0;
}
 .tbox .about p
{
    font-size: 1.1em;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.4em;
}
 .tbox img{
	border: 4px solid #FF1E00;
	border-radius:2px;
	border-bottom: 4px solid #FF00BE;
	border-right: 4px solid #FF00BE;
	}
	.dwn a{
            	position : relative; 
            	display: inline-block; 
            	color: #81FF00;
            	font-size: 1.5em; 
            	font-family: consolas; 
            	text-decoration: none; 
            	transition: 0.2s;
            	transition-delay: 1s; 
            	letter-spacing: 1px; 
            	text-transform: uppercase; 
            	padding: 5px 10px; 
            	font-weight: 700;
                overflow : hidden; 
                padding: 10px;
                margin-top: 50px;
            }
            .dwn a:hover
            {
            	color: #FF0084; 
            	background: #81FF00;
            	box-shadow: 0px 0px 10px #81FF00, 0px 0px 40px #81FF00, 0px 0px 80px #81FF00; 
                letter-spacing: 3px; 
            }
            .dwn
            {
            	padding-bottom: 55px; 
            	align-content:center;
                text-align: center; 
                background:rgba(0, 0, 0, 0.1);
            }
          .dwn a span
            {
            	position: absolute;
            	display: block; 
            }
            .dwn a span:nth-child(1)
            {
            	top:0;
            	left: -100%;
                width: 100%;
                height: 2px; 
                transition: 1s;
                background: linear-gradient(90deg, transparent, #81FF00);
            }
            .dwn a:hover span:nth-child(1)
            {
            	left:100%;
            }
            .dwn a span:nth-child(2)
            {
            	bottom:0;
            	right: -100%;
                width: 100%;
                height: 2px; 
                transition: 1s;
                transition-delay: 0.5s;
                background: linear-gradient(270deg, transparent, #81FF00);
            }
            .dwn a:hover span:nth-child(2)
            {
            	right:100%;
            }
            .dwn a span:nth-child(3)
            {
            	top:-100%;
            	right: 0;
                width: 2px;
                height: 100%; 
                transition: 1s;
                transition-delay: 0.25s;
                background: linear-gradient(180deg, transparent, #81FF00);
            }
            .dwn a:hover span:nth-child(3)
            {
            	top:100%;
            }
            .dwn a span:nth-child(4)
            {
            	bottom:-100%;
            	left:0;
                width: 2px;
                height: 100%; 
                transition: 1s;
                transition-delay: 0.75s;
                background: linear-gradient(0deg, transparent, #81FF00);
            }
            .dwn a:hover span:nth-child(4)
            {
            	bottom :100%;
            }